<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

</head>

<body>

<!-- Start Header Area -->
<header th:replace="fragments :: header"></header>
<!-- End Header Area -->

<table class="table" style="width:100%">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Location</th> 
    <th scope="col">Availability</th>
  </tr>
  </thead>
  <tbody>
<tr th:each="Friend : ${Friends}">
    <td th:text="${Friend.name}">Name</td>	
    <td th:text="${Friend.location}">Location></td>
    <td th:text="${Friend.availability}">Availability</td> 
</tr> 
</tbody>
</table>

<!-- start footer Area -->
<footer th:replace="fragments :: footer">

</footer>
<!-- End footer Area -->

<src th:replace="fragments :: stylesrc"></src>
</body>
</html>