<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

</head>

<body>

	<!-- Start Header Area -->
	<header th:replace="fragments :: header"></header>
	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div
				class="row d-flex text-center align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<p class="text-white link-nav">
						<a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
						<a href="properties.html"> Home</a>
					</p>
					<h1 class="text-white">
						Find Your Buddies Now!

						<p
							th:if="${session != null && session.account != null}"
							th:text="${session.account.firstName}"></p>
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


	<!-- Start property Area -->
	<section class="property-area section-gap relative" id="property">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 header-text">
					<h1>See What People Are Doing In Your Area</h1>
					<p>
						There's plenty of things to do!
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="single-property">
						<div class="images">
							<img class="img-fluid mx-auto d-block" src="img/ansel.png" alt="">
							<a href="#"><span>Connect</span></a>
						</div>

						<div class="desc">
							<div class="top d-flex justify-content-between">
								<h4><a href="#">Ansel D'souza</a></h4>
								<h4>Soccer</h4>
							</div>
							<div class="middle">
								<div class="d-flex justify-content-start">
									<p>Tennis: 04</p>
									<p>Hiking: 03</p>
									<p>Football: 01</p>
								</div>
								<div class="d-flex justify-content-start">
									<p>City: <span class="gr">NYC</span></p>
									<p>Activities: <span class="rd">05</span></p>
									<p>Age: <span class="rd">25</span></p>
								</div>
							</div>
							<!-- <div class="bottom d-flex justify-content-start">
								<p><span class="lnr lnr-heart"></span> 10 Activities</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-property">
						<div class="images">
							<img class="img-fluid mx-auto d-block" src="img/john.jpg" alt="">
							<a href="#"><span>Connect</span></a>
						</div>

						<div class="desc">
							<div class="top d-flex justify-content-between">
								<h4><a href="#">John</a></h4>
								<h4>Golf</h4>
							</div>
							<div class="middle">
								<div class="d-flex justify-content-start">
									<p>Karate: 04</p>
									<p>Swimming: 03</p>
									<p>Hiking: 10</p>
								</div>
								<div class="d-flex justify-content-start">
									<p>City: <span class="gr">NYC</span></p>
									<p>Activities: <span class="rd">05</span></p>
									<p>Age: <span class="rd">25</span></p>
								</div>
							</div>
							<!-- <div class="bottom d-flex justify-content-start">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-property">
						<div class="images">
							<img class="img-fluid mx-auto d-block" src="img/team/t1.jpg" style="width:310px; height:175px" alt="">
							<a href="#"><span>Connect</span></a>
						</div>

						<div class="desc">
							<div class="top d-flex justify-content-between">
								<h4><a href="#">Bhargav</a></h4>
								<h4>Tennis</h4>
							</div>
							<div class="middle">
								<div class="d-flex justify-content-start">
									<p>Karate: 04</p>
									<p>Swimming: 03</p>
									<p>Hiking: 10</p>
								</div>
								<div class="d-flex justify-content-start">
									<p>City: <span class="gr">NYC</span></p>
									<p>Activities: <span class="rd">05</span></p>
									<p>Age: <span class="rd">25</span></p>
								</div>
							</div>
							<!-- <div class="bottom d-flex justify-content-start">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End property Area -->

	<!-- Start About Area -->
	<section class="about-area">
		<div class="container-fluid">
			<div class="row d-flex justify-content-end align-items-center">
				<div class="col-lg-6 about-left">
					<div class="single-about">
						<h4>Why Choose Us</h4>
						<p>
							FIND SOMEONE TO DO IT WITH! </br>
							You will always find the motivation to get active and have more fun when you have someone to do it with.
							You will make new friends who share the same interests as you.
							Save yourself the awkwardness of asking strangers.
							You can see who has the same interest as you.
							Strike up a conversation and get going.
						</p>
					</div>
					<div class="single-about">
						<h4>Our Activity List</h4>
						<p>
							Hiking, Swimming, Tennis, Go for a movie, Dancing, Rock climbing, Pool, Bowling, Golf,
							Skate boarding, Biking, Zumba, Functional Training, Gym, Squash, Boxing and many more...
						</p>
					</div>
					<div class="single-about">
						<h4>What's more?</h4>
						<p>
							Add your buddy, share photos of your activity on your wall, send personal messages, report an abusive user
							get discount coupons from our advertising users and much more.
						</p>
					</div>
				</div>
				<div class="col-lg-6 about-right no-padding">
					<img class="img-fluid" src="img/activities.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->

	<!-- Start city Area -->
	<section class="city-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 header-text">
					<h1>Active Members in Various Cities.</h1>
					<p>
						Who are extremely active and friendly.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 mb-10">
					<div class="content">
						<a href="#" target="_blank">
							<div class="content-overlay"></div>
							<img class="content-image img-fluid d-block mx-auto" src="img/p1.jpg" alt="">
							<div class="content-details fadeIn-bottom">
								<h3 class="content-title">San Fransisco</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 mb-10">
					<div class="content">
						<a href="#" target="_blank">
							<div class="content-overlay"></div>
							<img class="content-image img-fluid d-block mx-auto" src="img/p2.jpg" alt="">
							<div class="content-details fadeIn-bottom">
								<h3 class="content-title">New York</h3>
							</div>
						</a>
					</div>
					<div class="row city-bottom">
						<div class="col-lg-6 col-md-6 mt-30">
							<div class="content">
								<a href="#" target="_blank">
									<div class="content-overlay"></div>
									<img class="content-image img-fluid d-block mx-auto" src="img/p3.jpg" alt="">
									<div class="content-details fadeIn-bottom">
										<h3 class="content-title">Boston</h3>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 mt-30">
							<div class="content">
								<a href="#" target="_blank">
									<div class="content-overlay"></div>
									<img class="content-image img-fluid d-block mx-auto" src="img/p4.jpg" alt="">
									<div class="content-details fadeIn-bottom">
										<h3 class="content-title">Elay</h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End city Area -->

	<!-- Start testomial Area -->
	<section class="testomial-area section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10 header-text">
					<h1>Feedback from our real users.</h1>
					<p>
						It won't be a big problem to find a wonderful partner since you use our app.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="active-testimonial-carusel">
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="img/team/t1.jpg" alt="">
						<p class="desc">
							I enjoyed my last hiking with the buddy I found in the app. It's convenient, I only need to select location, event and date.
						</p>
						<h4>John</h4>
						<p>
							Team 1
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="img/team/t2.jpg" alt="">
						<p class="desc">
							It is fantastic that I can choose the buddies I feel more interesting. I love this app, I will introduce this BuddyFinder
							to my friends.
						</p>
						<h4>Ansel</h4>
						<p>
							Team 1
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="img/team/t3.jpg" alt="">
						<p class="desc">
							Last time I invited several guys to play basketball at uptown campus. It was a great experience.
						</p>
						<h4>Zhenjiang</h4>
						<p>
							Team 1
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="img/team/t1.jpg" alt="">
						<p class="desc">
							Last time I invited several guys to play basketball at uptown campus. It was a great experience.
						</p>
						<h4>Zhenjiang</h4>
						<p>
							Team 1
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="img/team/t3.jpg" alt="">
						<p class="desc">
							It is fantastic that I can choose the buddies I feel more interesting. I love this app, I will introduce this BuddyFinder
							to my friends.
						</p>
						<h4>Bharghav</h4>
						<p>
							Team 1
						</p>
					</div>
					<div class="single-testimonial item">
						<img class="mx-auto rounded-circle" src="img/team/t2.jpg" alt="">
						<p class="desc">
							Last time I invited several guys to play basketball at uptown campus. It was a great experience.
						</p>
						<h4>Rutvik</h4>
						<p>
							Team 1
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End testomial Area -->

	<!-- start footer Area -->
	<footer th:replace="fragments :: footer">

	</footer>
	<!-- End footer Area -->

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/ion.rangeSlider.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>